#resy-card-holder {
    display: flex;
    width: 100%
}

.clear-dates-holder {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.clear-dates-button {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: .5em;
    text-decoration: underline;
    border: none;
}