.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35em;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
}

.halfwidth {
    width: 55%;
    justify-content: space-between;
}

.circle {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    margin-bottom: .5em;
}

.exit-holder {
    height: 12.5%;
    width: 100%;
    padding-left: 1.5em;
    padding-top: 1em;
    border-bottom: 1px solid #ebebeb;
    display: flex;
}

.exit-holder h4 {
    display: flex;
    justify-self: center;
    margin-bottom: 0;
    margin-top: .25em;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    background-color: white;
    padding: .25em;
    width: 90%;
}

.form-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.login-header {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: .5em;
    margin-top: .75em;
}

.login-input {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: .25em;
    padding-left: .5em;
    font-size: 1.25em;
    overflow-x: auto;
}

.login-input:focus {
    outline: none;
}

.input-fields.confirm {
    border-bottom: rgba(0, 0, 0, 0);
    height: 4em;
}

.login-exterior {
    width: 100%;
    border: 1px solid #b0b0b0;
    border-radius: 1em;
}

.button-holder {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2em;
}

.login-button {
    border: none;
    background-color: #d70465;
    color: white;
    margin: 0;
    width: 100%;
    height: 3em;
    border-radius: .5em;
    font-size: 1em;
    cursor: pointer;
}

.login-button:hover {
    background-color: #e61c4e;
}

h4 {
    margin: 1em;
}

ul {
    margin: 0;
    justify-content: center;
    list-style: none;
    color: #c43f21;
}

label {
    margin: .5em;
}

#password-label {
    margin-right: .75em;
}

button {
    width: 75%;
    margin-left: 2em;
}

