.delete-holder {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 45em;
    border-radius: 3em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.delete-alerts-holder {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
}

.exit-holder {
    height: 12.5%;
    padding-left: 1.5em;
    padding-top: 1em;
    border-bottom: 1px solid #ebebeb;
}

.circle:hover {
    background-color: #ebebeb75;
}

.circle {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}

#exit-reviews {
    padding-left: .75em;
    padding-top: .5em;
}

.bottom-nav {
    padding-left: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8em;
}

.red {
    color: #c43f21;
}

.checkbox {
    padding-left: .75em;
    padding-top: 1em;
}

.delete-button {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .75);
    color: white;
    margin: 0;
    width: 33%;
    height: 3em;
    border-radius: .5em;
    margin-bottom: 2em;
    margin-right: 2em;
    font-size: 1em;
    cursor: pointer;
}

.delete-button:disabled {
    background-color: #ebebeb;
    color: white;
    border: none;
}

.delete-button:disabled:hover {
    background-color: #ebebeb;
    cursor: not-allowed;
}

.delete-button:hover {
    background-color: #000000;
}