.navbar, .navbar button, .navbar a {
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background: none;
    font-size: 20px;
    color: #333
}

.profile-dropdown {
  position: absolute;
}

#nav-bar {
  background-color: lightblue;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}